<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sendbirdsampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--READ/WRITE_EXTERNAL_STORAGE permissions are required for upload and download of files. -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:name="com.sendbirdsampleapp.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/sendbird_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sendbirdsampleapp.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sendbirdsampleapp.ui.channel.ChannelActivity"></activity>
        <activity android:name="com.sendbirdsampleapp.ui.group_channel.list_group.GroupChannelActivity"></activity>
        <activity android:name="com.sendbirdsampleapp.ui.open_channel.view.OpenChannelActivity"></activity>
        <activity android:name="com.sendbirdsampleapp.ui.group_channel.create_group.GroupChannelCreateActivity"></activity>
        <activity android:name=".ui.group_channel.chat_group.GroupChannelChatActivity"></activity>
    </application>

</manifest>